body{
  background-color:light;
  
}
nav,footer{
  background-color:teal;
  color:white;
  font-size:20px;
   display:flex;
  
  padding:5px;
  justify-content:space-around;
  border-radius:1rem
}
nav ul{
  list-style-type:none;
  margin:0;
  padding:0;
  }
nav ul li{
  display:inline;
   justify-content:space-between;
 }
footer a,nav  a{
  justify-content:space-around;
  color:white;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}
.d1{
	
	margin-top:50px;
    font-size:20px;
    font-family:italic;}
img{
  height:auto;
  width:90%;
}
.s1{
  font-size:20px;
  padding:5px;
  margin:10px;
  background-color:grey;
  border-radius:1rem
}
.s2{height:auto;
width:50%; 
margin-top:20px;
margin-bottom:20px;
padding:1px;
border:1px dashed grey;
}
.strike {
  text-decoration: line-through;
}

td{
  border: 1px solid black;
  padding: 5px;
}
input{

height:auto;
width:40%;
}
footer div{
  margin:7px;
  padding:1px;
}

footer li{
  position: relative;
    line-height: 21px;
    padding: 8px 0 8px 30px;
    border-bottom: 1px solid #272727;
}
